table,
tr,
th,
td,
caption {
  border: 1px solid black;
  font-family: "Courier New", Courier, monospace;
  border-collapse: collapse;
  padding: 0.5rem;
}
/* body {
  border: 3px solid black;
  display: border-box;
  margin: 0, auto;
  padding-left: 400px;
  padding-right: 400px;
} */
html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  border: 2px solid black;
  padding-left: 20px;
  padding-right: 20px;
}
